{
  "presets": [
    [
      "@babel/preset-react",
      {
        "pragma": "dom",
        "pragmaFrag": "DomFrag", 
        "throwIfNamespace": false 
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-env"
  ],
  "plugins": [
    ["import", { "libraryName": "antd-mobile", "style": "css" }],
    "@babel/plugin-syntax-jsx",
     "@babel/plugin-transform-react-jsx",
     "@babel/plugin-transform-react-display-name",
     "@babel/plugin-transform-react-jsx-self",
     "@babel/plugin-transform-react-jsx-source",
     "@babel/plugin-proposal-class-properties"
    ]
}