.wordsContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: start;
  padding-top: 10%;
  height: 100%;
  
}
.wordsText {
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
  color: #003366;
  font-family:  Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
.wordsRef {
  width: 100%;
  text-align: center;
  color: #003366;
}
.buttonContainer {
  position: fixed;
  top: 85%;
  width: 50%;
}